.elements {
  margin: 36px 19px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 425px) {
  .elements {
    margin: 36px 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .elements {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .elements {
    max-width: 880px;
    margin: 30px auto 0;
    padding: 0;
    justify-content: space-between;
  }
}
