.profile__info {
  max-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 26px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .profile__info {
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
  }
}
